<% if @parent %>
    <% binding.pry %>
    <%#= render partial: 'comment', locals: { item_id: comment: @parent, from_reply_form: true } %>
<% end %>
<%= form_for @comment do |f| %>
    <%= f.hidden_field :parent_id %>

    <div class="form-group">
        <%= f.label :content %>
        <%= f.text_field :content, class: 'form-control' %>
    </div>
    <%= f.submit 'Reply' %>
<% end %>