<select id="category-select">
    <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
</select>

<%= form_tag query_categories_path, remote: true do %>
    <div id="selected-options">
        <ul name='category_ids' id="selected-options-list">

        </ul>
    </div>
    <%= submit_tag "Refine Search" %>
<% end %>

<button id="button">Button</button>

<section id="search-results">
    
</section>


<%= javascript_pack_tag 'categorySearch' %>
