<%= form_for [current_user, @item || Item.new], html: { id:'new-item-form' } do |f| %>
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, step: :any %>
    </div>
    <div class="form-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
    </div>
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div class="form-group">
        <%= render partial: 'categories/select' %>
        <div id="selected-options">
            <ul name='category_ids' id="selected-options-list">
                <% if @item && !@item.categories.empty? %>
                    <% @item.categories.each do |category| %>
                        <li id="<%= category.id %>" class="category" data-children-count="1">
                            <p class="category-name"><%= category.name %></p>
                            <%= check_box("item", "category_ids", { multiple: true, class:'category-checkbox', id:"item_category_ids_#{category.id}", checked: true }) %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <%= f.label "Choose from department" %>
        <%= f.collection_select :department, Department.order(:name), :id, :name %>
    </div>
    <div class="form-group">
        <%= f.file_field :images, multiple: true %>
    </div>
    <%= f.submit @item ? 'Update Item' : 'Create Item', id: 'submit-button' %>
<% end %>

<%= javascript_pack_tag 'categorySearch' %>

<input type="checkbox" name="item[category_ids][]" value="5" class="category-checkbox">