<div class="item-container">
    <span><h3><%= link_to item.name, item_path(item.id) %></h3></span>
    <% item.categories.each do |cat| %>
        <span><small><%= link_to cat.name, show_category_path(cat.id) %></small></span>
    <% end %>
    <div class="item-details">
        <div class="item-info">
            <%= item.description %><br>
            <%= link_to "Edit Item", edit_user_item_path(item.creator_id, item), 
                class:['btn', 'btn-warning'] if logged_in? && item.creator_id == current_user.id %>
        </div>
        <div class="item-image">
            <%= display_first_image(item) %>
        </div>
    </div>
    <hr>
</div>
