<%= form_for Item.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :price %>
    <%= f.number_field :price, step: :any %><br>

    <%= f.label :quantity %>
    <%= f.number_field :quantity %><br>

    <%= f.label :description %>
    <%= f.text_field :description %><br>

    <select id="category-select">
        <% Category.all.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
    </select>
    <select multiple="multiple" name="item[category_ids][]" id="item_category_ids"><option value='1'>kids</option></select>
    <p class="select-transfer">&#10140;</p>
    <%= f.label "Choose from department" %>
    <%= f.collection_select :department, Department.order(:name), :id, :name %><br>

    <%= f.file_field :images, multiple: true %>
    <%= f.submit 'Create Item', id:"submit" %>
<% end %>

<%= javascript_pack_tag 'categoryToggle' %>