<div id="item-page">
    <div id="info-section">
        <%= display_image_slideshow(@item) %>
        <div id="item-info">
            <div id="categories">
                <% if @item.categories %>
                    <% @item.categories.each do |category| %>
                        <%= link_to category.name, show_category_path(category.id) %>
                    <% end %>
                <% end %>
            </div>
            <h3 class="item-name"><%= @item.name %></h3>
            <hr>
            <div id="item-actions">
                <div id="about-item">
                    <h4><%= @item.description %><br></h4>
                    <h4><%= @item.price %>$</h4>
                    <h4><%= @item.rating %></h4>
                    <h4><%= @item.quantity %> Available In Stock</h4>
                </div>
                <div id="purchase-options">
                    <a id="buy-button" class="btn btn-primary" href="#">Buy Now</a><br>
                    <a id="cart-button" class="btn btn-success" href="#">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>

    <div id="comment-section">
        <%= render partial: 'comments/form' %>
        <div id="comments">
            <%= render partial: 'comments/comment', collection: comment_roots(@item.id), as: :comment, locals: { item_id: @item.id } %>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'itemSlideshow' %>