<div id="item-page">
    <div id="info-section">
        <%= display_image_slideshow(@item) %>
        <div id="item-info">
            <div id="categories">
                <% if @item.categories %>
                    <% @item.categories.each do |category| %>
                        <%= link_to category.name, category_path(category.id) %>
                    <% end %>
                <% end %>
            </div>
            <h3 class="item-name"><%= @item.name %></h3>
            <hr>
            <div id="item-actions">
                <div id="about-item">
                    <h4 id="item-description"><%= @item.description %><br></h4>
                    <h4 id="item-price"><%= @item.price %>$</h4>
                    <h4 id="item-rating"><%= render partial: 'rating' %></h4>
                    <h4 id="item-quantity"><div id="quantity"><%= @item.quantity %></div> Available In Stock</h4>
                </div>
                <% if logged_in? && current_user.id == @item.creator_id %>
                    <div id="item-edit-options">
                        <%= link_to "Edit Item", edit_user_item_path(current_user, @item), class:['btn', 'btn-warning'] %>
                    </div>
                <% elsif logged_in? %>
                    <div id="purchase-options">
                        <%= render partial: 'purchases/form', locals: { item_id: @item.id } %>

                        <% if already_in_cart?(@item) %>
                            <%= render partial: 'cart_items/visit_button', locals: { item_id: @item.id } %>
                        <% else %>
                            <%= render partial: 'cart_items/form', locals: { item_id: @item.id } %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div id="comment-section">
        <%= render partial: 'comments/form' if logged_in? %>
        <div id="comments">
            <%= render partial: 'comments/comment', collection: comment_roots(@item.id), as: :comment, locals: { item_id: @item.id } %>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'itemSlideshow' %>
<%= javascript_pack_tag 'quantitySelect' %>