<%= @item.name %> - <%= @item.price %><br>
<%= @item.description %>
<% images_urls = ["4urbof.jpg","c.PNG","Cadpture.PNG"] %>
<%= render partial: 'slideshow', locals: { images: images_urls } %>

<%= render partial: 'comments/comment', collection: @item.comments, as: :comment, locals: { item_id: @item.id } %>
<%= form_for(Comment.new) do |f| %>
  <div class="form-group">
    <%= f.label 'Comment here' %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= javascript_pack_tag 'itemSlideshow' %>